/** Mobile-First, so these are our base styles that we tweak as the screen gets bigger **/

/* Fonts */
@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600|Raleway:500,700,800");

body{
	font-family: "Open Sans", Helvetica, sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.65em;
	color: #444444;
}

/* Headings */
h1, h2, h3, h4, h5, h6, label, button {
    font-family: "Raleway", Helvetica, sans-serif;
    color: #444444;
    font-weight: 800;
}

h1:after,
h2:after,
h3:after,
h4:after,
h5:after,
h6:after {
	display: block;
	position: relative;
	content: '';
	bottom: 0;
	left: 0;
	width: 3rem;
	padding-top: 1.5rem;
	margin-bottom: 1.5rem;
	border-bottom: solid 1px;
}

.drop-shadow {
	box-shadow: 0 0 0.125em 0 rgba(0, 0, 0, 0.35);
}

.navbar-brand {
	padding-top: 0.75rem;
	font-family: "Raleway", Helvetica, sans-serif;
	color: #444444 !important;
	color: red !important;
	font-size: 1.75rem;
	font-weight: 800;
	letter-spacing: -0.15rem;
}

.navbar-brand > sup {
	display: inline-block;
	top: -.375em;
	font-size: 1.2rem;
	padding-left: 0.20rem;
	font-weight: bolder;
	margin-right: 0.1rem;
}

.navbar-brand > sup:after {
	display: block;
	position: relative;
	content: '';
	bottom: 0;
	left: 0.05rem;
	width: 0.75rem;
	padding-top: 0.6rem;
	border-bottom: solid 3px;
}

/* Navigation */
.navbar-light .navbar-nav .nav-link {
	color: rgba(0, 0, 0, 0.75);
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu a::after {  
  position: absolute;
  right: 8px;
  top: 1em;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: .1rem;
  margin-right: .1rem;
}

.navbar-nav,
.navbar-nav .dropdown-item {	
	text-transform: uppercase;
	font-family: "Raleway", Helvetica, sans-serif;
	font-weight: 600;
	letter-spacing: 0.05em;
	font-size: 0.8em;	
}

.navbar-nav .dropdown-item:hover {	
	color: #ffffff;
	background-color: #343a40;
}

/* Button */
.btn {
	border-radius: 0;	
	font-size: 0.8rem;
}

/* Icon */
.icon {
	text-decoration: none;
	border-bottom: none;
	position: relative;
}

.icon:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-transform: none !important;
}

.icon > .label {
	display: none;
}

.icon:before {
	cursor: inherit;
}

.icon-wrapper {
	width: 4em;
	height: 2em;
	line-height: 2em;
	display: inline-block;
	text-align: center;
	position: relative;
	margin: 1.235em 0;
}

.icon-wrapper:before, .icon-wrapper:after {
	content: '';
	width: 0;
	height: 0;
	border-left: solid 2em transparent;
	border-right: solid 2em transparent;
	position: absolute;
	left: 0;
}

.icon-wrapper:before {
	border-bottom: solid 1.235em;
	top: -1.235em;
}

.icon-wrapper:after {
	border-top: solid 1.235em;
	bottom: -1.235em;
}

.icon-wrapper .icon {
	cursor: default;
}

.icon-wrapper .icon:before {
	font-size: 1.5rem;
}

.icon-wrapper.major {
	display: block;
	margin: 1.235em 0 3.235em 0;
}

.icon-wrapper.small {
	font-size: 0.75em;
}

.icon-wrapper.small .icon:before {
	font-size: 1.25rem;
}

.icon-wrapper {
	background-color: #f6f6f6;
	box-shadow: 0 -1px 0 0 #f6f6f6, 0 1px 0 0 #f6f6f6;
}

.icon-wrapper:before {
	border-bottom-color: #f6f6f6;
}

.icon-wrapper:after {
	border-top-color: #f6f6f6;
}


.jumbotron {		
	background-image: url("../img/hero-bg-575x259.jpg");
	background-position: center center;	
	background-repeat: no-repeat;
     background-size: cover;
	padding-top: 0; 
	min-height: 12rem;
}

.jumbotron-heading {
	position: relative;
	top: 3.5rem;
	color: #ffffff;	
	font-weight: 800;
	font-size: 2rem;
	letter-spacing: -0.1rem;
	text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}

.jumbotron-heading span {
	display: block;
}

.jumbotron-heading sup {
	display: inline-block;
	top: -0.5rem;
	font-size: 1.3rem;
	padding-left: 0.2rem;	
	font-weight: bolder;
	margin-right: 0.1rem;
}

.jumbotron-heading sup:after {
	display: block;
	position: relative;
	content: '';
	bottom: 0;
	left: 0.1rem;
	width: 0.75rem;
	padding-top: 0.7rem;
	border-bottom: solid 3px;
}

.spotlight h2 {
	font-size: 1.9em;
	font-weight: 800;
	margin: 0 0 0.2rem 0;
	letter-spacing: -0.05rem;
}

.spotlight img {
	max-width: 100%;
}

.jumbotron, .card img {
	border-radius: 0;
}

h3 {
	font-size: 1rem;		
}

.review h3,
.legal h3 {
	font-size: 1.25rem;			
}

.jumbotron-heading:after,
.home .groups h3:after,
.contact-other .media h5:after {
	border-bottom: 0;
}

.groups div[class="col-lg-4"] {
	/* use the mixin for this in production */
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.home .groups p {
	clear: left;
}

.card {
	border: none;
}

.review h5,
.legal h5 {	
	font-size: 1rem;
}

.btn-enquire {	
	border: 0;
	border-radius: 0;
	cursor: pointer;
	display: inline-block;
	font-family: "Raleway", Helvetica, sans-serif;
	font-weight: 700;
	height: 2.75em;
	line-height: 2.75em;
	padding: 0 1.5em;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	white-space: nowrap;
	transition: background-color 0.2s ease-in-out;
}

.btn-enquire span {
	display: none;
}

.sidebar {
	margin-top: 3rem;
}

.enquire {
	
}


.contact-other {
	margin-top: 50px; /** use a mixin here in develelopment **/		
	font-size: 0.9em;
}

label, 
.contact-other h5 {
	color: #444;	
	font-size: 1em;		
}

.form-control {
	font-size: 0.9em; /* this is probably a SASS variable - check in dev stage */
}

.contact-other h5:after {
	display: none;
}

.contact-other a,
.smallprint .policies a {
	display: inline-block;
	border-bottom: 2px solid rgba(255, 255, 255, 0);
	color: #444;
	text-decoration: none;
	transition: border-bottom 0.3s ease-in-out;
}

.contact-other a:hover,
.smallprint .policies a:hover {
	color: #444;
	border-bottom: 2px solid rgba(68, 68, 68, 0.75);	
}

.smallprint .copyright {
	font-size: 0.9em;	
}

.smallprint .policies {
	text-align: left;
	font-size: 0.75em;	
}

.smallprint .policies ul {	
	padding-left: 0;
}

.smallprint .policies li {
	list-style-type: none;
	display: inline-block;		
}

.smallprint .policies li:after {
	content: '|';
	margin-left: 0.5em;
	margin-right: 0.5em;
}

.smallprint .policies li:last-of-type:after {
	content: '';
}

/** Small devices (landscape phones, 576px and up) **/
@media (min-width: 576px) { 
	.navbar-brand {
		color: blue !important;
		font-size: 2.3rem;
	}

	.navbar-brand > sup {
		font-size: 1.5rem;
	}

	.navbar-brand > sup:after {		
		width: 0.95rem;
		padding-top: 0.75rem;		
	}

	.jumbotron {		
		background-image: url("../img/hero-bg-800x360.jpg");
		min-height: 20rem;
	}

	.jumbotron-heading {
		top: 5rem;
		font-size: 3rem;				
	}

	.jumbotron-heading sup {
		top: -0.7rem;
		font-size: 2rem;
		padding-left: 0.2rem;			
	}

	.jumbotron-heading sup:after {
		width: 1.25rem;
		padding-top: 1rem;
		left: 0.1rem;		
	}

	.spotlight h2 {
		font-size: 1.75rem;				
	}

	h3 {
		font-size: 1.25rem;						
	}			

	.btn-enquire span {
		display: inline;
	}
}

/** Medium devices (tablets, 768px and up) **/
@media (min-width: 768px) { 
	.navbar-brand {
		color: pink !important;
		font-size: 2.5rem;
	}

	.navbar-brand > sup {
		top: -.325em;
		font-size: 1.75rem;
		padding-left: 0.20rem;
    }

    .navbar-brand > sup:after {		
		width: 1.15rem;
		padding-top: 0.85rem;		
	}	

	.jumbotron {		
		background-image: url("../img/hero-bg-1000x450.jpg");
		min-height: 20rem;
	}

	.jumbotron-heading sup {
		top: -0.8rem;
		font-size: 1.85rem;
		padding-left: 0.2rem;			
	}

	.jumbotron-heading sup:after {
		width: 1.15rem;
		padding-top: 1.1rem;
		left: 0.10rem;		
	}

	.spotlight h2 {
		font-size: 1.5rem;				
	}	

	.contact-other {
		margin-top: 0;
	}	

	.smallprint .policies {
		text-align: left;
		font-size: 0.8em;	
	}

	.sidebar {
		margin-top: 0;
	}
}

/** we need to correct the spacing of our contact-other title **/
@media (min-width: 768px) and (max-width: 1023px) { 
	.contact-other h3 {
		margin: 3rem 0 4rem 0;			
	}
}

/** Large devices (desktops, 992px and up) **/
@media (min-width: 992px) { 
	.navbar-brand {
		color: green !important;
	}

	.navbar-brand > sup {
		top: -.315em;
		font-size: 1.75rem;
		padding-left: 0.20rem;
    }

	.nav-item {
		margin-left: 2rem;
	}

	.nav-item:first-of-type {
		margin-left: 0;
	}

	.nav-item.enquire {	
		padding-left: 0.75rem;
		padding-right: 0.75rem;
		line-height: 1.55rem;			
		border: 1px solid #343a40;
		transition: all 0.3s ease-in-out;
	}	

	.nav-item.enquire:hover {	
		background-color: #343a40;		
	}

	.nav-item.enquire a {
		transition: color 0.3s ease-in-out;
	}

	.nav-item.enquire:hover a {
		color: #ffffff !important;
	}

	/* we need to shift our initial drop-down menu to the left to avoid the sub-menu dropdowns displaying partially off-screen */
	#navbarDropdownMenuLink + ul[aria-labelledby="navbarDropdownMenuLink"] {
		left: -110px;
	}

	/* show the downward pointing caret to point right */
	.dropdown-submenu a::after {
  		transform: rotate(-90deg);
  	}

	.jumbotron {		
		background-image: url("../img/hero-bg-1200x540.jpg");
		min-height: 20rem;
	}

	.jumbotron-heading {		
		font-size: 3.25rem;
	}

	.jumbotron-heading sup {
		top: -0.85rem;
		font-size: 2rem;
		padding-left: 0.2rem;			
	}

	.jumbotron-heading sup:after {
		width: 1.25rem;
		padding-top: 1.1rem;
		left: 0.10rem;		
	}

	.spotlight h2 {
		font-size: 1.75rem;				
	}

	h3 {		
		font-size: 1rem;
	}
	
	.smallprint .policies {
		text-align: right;
	}
}

/** Extra large devices (large desktops, 1200px and up) **/
@media (min-width: 1200px) { 
	.navbar-brand {
		color: purple !important;
	}

	.jumbotron {		
		background-image: url("../img/hero-bg-2000x900.jpg");		
		min-height: 40rem;
	}

	.jumbotron-heading {
		top: 14rem;
		font-size: 4.25rem;
	}

	.jumbotron-heading sup {
		top: -1.075rem;
		font-size: 2.65rem;
		padding-left: 0.2rem;			
	}

	.jumbotron-heading sup:after {
		width: 1.6rem;
		padding-top: 1.5rem;
		left: 0.175rem;		
	}

	.spotlight h2 {
		font-size: 2.25rem;		
	}

	.home .groups {
		padding-top: 3rem;
	}

	h3 {
		font-size: 1.25rem;		
	}

	.legal h3 {	
		font-size: 1.75rem;
	}
}